[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
X-Nemo-Application-Type=generic
Name=Jabber Fish
Icon=harbour-jabber-fish
Exec=harbour-jabber-fish
